.container1{
    background-color: black;
    
    width:100%;
    height: 600px;

}
.nav{
    position: absolute;
    top: 6px;
    z-index: 2;
    right: 80px;
}
.navlink{
    margin: 0px 8px 0px 8px;
}
.navbar{
    height: 50px;
}
.video{
    width: 100%;
    height: 100%;
}
.stream{
    width: 600px;
    height: 400px;
}
.btn{
    position: fixed;
    bottom: 0px;
    right: 2px;
}
.chat{
    width:60px;
}
