.container1{
    background-color: rgb(97, 94, 94);
    width:100%;
    height: 800px;
    position: fixed;

}

.chat{
    position: fixed;
    right: 0px;
    height: 100%;
    background-color: rgb(79, 82, 82);
}

.partage{
    position: fixed;
    top: 55px;
    height: 750px;
    width: 87%;
    background-color: blue;
}
.apres_partage{
    height: auto;
    width: 13%;
}
.container_video{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    background-color: black;
    margin-left: 165px;
    height: 900px;
    
}