.video1{
    width: 800px;
    border-radius: 20px;
    margin:3px;
}
.video2{
    width: 380px;
    border-radius: 20px;
    margin:3px;
}
.video3_4{
    width: 400px;
    border-radius: 20px;
    margin:3px;
}
.video5_6{
    width: 260px;
    border-radius: 50px;
    margin:3px;
}
.video7_9{
    width: 190px;
    border-radius: 15px;
    margin:3px;
}
.video10_12{
    width: 100px;
    border-radius: 30px;
    margin:3px;
}
.video13_20{
    width: 180px;
    border-radius: 15px;
    margin:3px;
}
