.headertop {
    background-color: rgba(221, 216, 216, 0.514);
}

.head0 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.head1 {
    margin-top: 25px;

}

.head2 {
    margin-top: 40px;
}

.head3 {
    margin-top: 40px;
    margin-bottom: 25px;
}