.prop {
    background-color: rgba(204, 194, 194, 0.534);
    width: 500px;
    height: 450px;
    margin-top: 70px;
    margin-bottom: 45px;
    margin-left: 800px;
    padding-left: 25px;
    border-radius: 15px;
}

h1 {
    padding-top: 20px;
    padding-left: 120px;
    font-style: italic;
    color: rgb(116, 113, 113);


}

.contactes .prop .Button {
    margin-left: 190px;
    margin-top: 50px;
}

.mb-31 {
    width: 400px;

}

.mb-32 {
    width: 400px;


}

.contactes {
    background-color: rgb(241, 235, 235);
    height: 600px;
    padding-top: 15px;
}