.feed{
    flex: 0.6;
    margin: 0 20px;
}
.feed_container{
    background-color: rgb(212, 207, 207);
    padding: 18px;
    padding-bottom: 20px;
    border-radius: 18px;
    margin-bottom: 20px ;
    width: 100%;

}
.bi{
    padding: 20px;
    cursor: pointer;
    color: rgb(22, 24, 26);
}
.bi:hover{
    color: rgba(71, 112, 79, 0.589) ;
}
.feed_imput{
    display: flex;
    justify-content: center;
     align-items: baseline;
    border: 1px solid rgb(49, 42, 42);
    border-radius: 18px ;
}