form {
    width: 400px;
    margin: 50px;
    margin: auto;
}

.conteneur {
    margin-top: -1%;
    margin-left: 35%;

}

.vandam {
    margin-left: 115px;
    margin-top: 0px;
    width: 100px;
}

.para {
    color: rgb(85, 85, 202);


}