body {
    background-image: url('1.jpg');
    font-family: sans-serif;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;


}

header {
    width: 600px;
    height: 620px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    border-radius: 20px;
    margin: 0px 710px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;


}


form {
    width: 400px;
    margin: 50px;
}

header h3 {
    font-size: 40px;
    line-height: 30%;
    margin: 30px 113.92px;
    letter-spacing: 2px;
    font-weight: bold;
}

header button {
    width: 160px;
    height: 50px;
    margin: 0px 121px;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: large;

}

.para {
    position: relative;
    right: 0px;
}