form {
    width: 300px;
    margin-top: 40px;
    margin-left: 20px;
}

.Pannier {
    background-color: rgba(232, 227, 227, 0.826);
    border-radius: 5%;
    width: 340px;
    height: 240px;
    padding-top: 0px;
}

.nacer {
    margin-left: 90px;
    margin-top: 10px;
    width: 100px;
}