body {
    background-image: url('3.jpg');
    font-family: sans-serif;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;


}


header {

    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    border-radius: 20px;
    margin: 0px 710px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;


}

form {
    width: 300px;
    margin: 32px;

}

header h3 {
    font-size: 35px;
    line-height: 80%;
    margin: 35px 35%;
    letter-spacing: 1px;
    font-weight: bold;
}

header button {
    width: 100px;
    height: 45px;
    margin: 0px 95px;
    margin-top: 40px;
    margin-bottom: 20px;
}

label,
h3 {
    color: aliceblue;
}